#subscribe {
    background-color: rgb(200, 0, 0);
    border: none;
    color: white;
    border-radius: 2px;
    height: 36px;
    width: 106px;
    cursor: pointer;
    margin-right: 12px;
    margin-bottom: 50px;
}

#join {
    background-color: transparent;
    color: rgb(15, 123, 212);
    border-color: rgb(15, 123, 212);
    border-radius: 3px;
    border-width: 0.5px;
    height: 36px;
    width: 76px;
    cursor: pointer;
    margin-right: 12px;
    margin-bottom: 50px;
}

#tweet {
    background-color: rgb(30, 153, 234);
    border-radius: 20px;
    border: none;
    height: 30px;
    width: 76px;
    color: white;
    font-weight: bold;
    font-size: 15 px;
    cursor: pointer;
}

#bts {
    background-color: rgb(121, 82, 179);
    border: none;
    color: white;
    border-radius: 3px;
    height: 40px;
    width: 100px;
    font-size: 10px;
    font-weight: bold;
    cursor: pointer;
}

#bts2 {
    background-color: transparent;
    border-color: rgb(108, 117, 125);
    border-width: 1px;
    border-radius: 3px;
    color: rgb(108, 117, 125);
    height: 40px;
    width: 100px;
    cursor: pointer;
}